@use 'components.scss';

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial';
}

.app-container {
    display: flex;
    height: calc(100vh - 60px);
    margin-top: 60px;

    main {
        display: flex;
        width: 100%;
    }

    .content-container {
        width: calc(100% - calc(var(--el-menu-icon-width) + var(--el-menu-base-level-padding) * 2));
    }

    .vxe-grid {
        width: 100%;
    }
}

:root {
    --sidebar-width: 200px;
}
